:root {
  /* Colors */
  --main-bg-color: #2b2d42;
  --white-color: #edf2f4;
  --white-color-10: rgba(237, 242, 244, 0.1);
  --white-color-50: rgba(165, 161, 152, 0.5);
  --black-color: rgb(17, 17, 17);
  --black-color-50: rgba(17, 17, 17, 0.5);
  --grey-color: #c1c1c1;
  --success-color: #42b3b1;
  --alert-color: #f7b32b;
  --danger-color: #d90429;
  --danger-color-50: rgba(223, 17, 34, 0.8);
  --selected-color: #ecece3;

  /* Font */
  --font-main: 'Ubuntu', sans-serif;
  --font-game: 'Press Start 2P', cursive;

  /* Board */
  --rows: 8;
  --cols: 8;
  --columns: 8;
  --cell-width: 50px;
  --cell-height: 50px;
  --border-width: 0.2rem;

  /* Cell Numbers */
  --color-1: green;
  --color-2: blue;
  --color-3: red;
  --color-4: purple;
  --color-5: orange;
  --color-6: darkCyan;
  --color-7: brown;
  --color-8: black;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 3px solid var(--danger-color-50);
}

/*
Used a css reset by:
https://piccalil.li/blog/a-modern-css-reset/
*/

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--font-main);
}

/* Typography */
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection {
  /* background: #fff; */
  color: var(--danger-color-50);
}

/* Main */

.game {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__wrapper {
  height: 80vh;
  width: 60vw;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23EDF2F4FF' stroke-width='12' stroke-dasharray='8%2c 45' stroke-dashoffset='47' stroke-linecap='square'/%3e%3c/svg%3e");
}

.game__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-color-10);
}

.main--menu {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  align-items: center;
}

.menu__header {
  color: var(--alert-color);
  padding-bottom: 2rem;
}

.menu__header h1 {
  font-size: 4rem;
}

.menu__header .bomb-emoji {
  position: relative;
  font-size: 3rem;
  top: 85px;
  left: 412px;
}

/* MainMenu Buttons */
.btn-group {
  width: 700px;
  height: 250px;
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    'play settings settings'
    'rules settings settings';
}
.play--btn {
  grid-area: play;
}
.rules--btn {
  grid-area: rules;
}
.settings--btn {
  grid-area: settings;
}

.menu__btn {
  border: 3px solid var(--black-color);
  border-radius: 1rem;
  background-color: var(--alert-color);
  color: var(--black-color);
  cursor: pointer;
  font-size: 3rem;
  transition: all 0.2s ease-in;
}

.menu__btn:hover {
  color: var(--danger-color-50);
  border-color: var(--danger-color-50);
  background-color: var(--white-color-10);
}

.menu__btn:focus {
  border: none;
}

.menu__btn:nth-child(3) {
  font-size: 5rem;
}

/* Board */
.game-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-board {
  display: grid;
  grid-template-rows: repeat(var(--rows), var(--cell-height));
  grid-template-columns: repeat(var(--cols), var(--cell-width));
}

.cell {
  cursor: pointer;
  width: var(--cell-width);
  height: var(--cell-height);
  border: 1px solid var(--black-color-50);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;

  /* prevent cell selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* End Game Modal */
.endgame-modal {
  opacity: 0;
  height: calc(var(--rows) * var(--cell-height));
  width: 200px;
  background-color: var(--white-color);
  border: 1px solid var(--black-color-50);
  z-index: 100;
  transition: opacity 0.3s ease-in;
}

/* Side Menu */
.game-sidemenu {
  display: flex;
  flex-direction: column;
  height: calc(var(--rows) * var(--cell-height));
  width: 150px;
  background-color: var(--white-color);
  border: 1px solid var(--black-color-50);
}

/* Game Info */
.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: var(--font-game);
}

.game-info__header {
  display: flex;
  padding: 0.2rem 0.1rem;
  width: 100%;
  justify-content: space-between;
}

.time-left {
  padding: 0.4rem 0.2rem;
  display: flex;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.time-left > i {
  position: relative;
  font-size: 1rem;
  margin-right: 0.3rem;
  top: -2px;
}

.bombs-left {
  display: flex;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.bombs-left > i {
  position: relative;
  top: -2px;
  font-size: 1.1rem;
  margin-right: 0.3rem;
}

.revealed-count {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}

.revealed-count > span {
  padding: 0.4rem 0.2rem;
}

/* Game Info Buttons */
.game-buttons {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
  width: 100%;
}

.game-buttons__btn {
  border: none;
  padding: 0.5rem 0;
  margin-bottom: 2px;
  border-top: 2px solid var(--black-color);
  border-bottom: 2px solid var(--black-color);
  border-radius: none;
  background-color: var(--alert-color);
  color: var(--black-color);
  cursor: pointer;
  font-family: var(--font-game);
  font-size: 0.7rem;
  transition: all 0.2s ease-in;
}

.game-buttons__btn:hover {
  color: var(--danger-color-50);
  border-color: var(--danger-color-50);
  background-color: var(--white-color-10);
}

.game-buttons__btn:focus {
  outline: none;
}

.game-board > [data-cell-state='hidden'] {
  background-color: var(--white-color);
}

.game-board > [data-cell-state='revealed'] {
  background-color: var(--selected-color);
  -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
  -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
  box-shadow: inset 0px 0px 5px var(--grey-color);
  outline: none;
}

/* Bomb  */
.game-board > [data-cell-state='bomb'] {
  background-color: var(--white-color);
  -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
  -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
  box-shadow: inset 0px 0px 5px var(--grey-color);
  outline: none;
}

.game-board > [data-cell-state='bomb']::after {
  content: '\f1e2';
  font-family: FontAwesome;
  color: var(--black-color);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bomb exploded */
.game-board > [data-cell-state='bomb-exploded'] {
  background-color: var(--white-color);
  -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
  -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
  box-shadow: inset 0px 0px 5px var(--grey-color);
  outline: none;
}

.game-board > [data-cell-state='bomb-exploded']::after {
  content: '\f1e2';
  font-family: FontAwesome;
  color: var(--danger-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black-color-50);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bomb guessed/marked */
.game-board > [data-cell-state='bomb-marked'] {
  background-image: url(/img/bomb-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--selected-color);
  background-size: 2rem;
  -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
  -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
  box-shadow: inset 0px 0px 5px var(--grey-color);
  outline: none;
}

.game-board > [data-cell-state='bomb-marked']::before {
  position: absolute;
  content: '';
  width: 45px;
  height: 2.5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: var(--danger-color);
}

.game-board > [data-cell-state='bomb-marked']::after {
  content: '';
  width: 45px;
  height: 2.5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: var(--danger-color);
}

/* Flag */
.game-board > [data-cell-state='flagged'] {
  background-color: var(--white-color);
  -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
  -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
  box-shadow: inset 0px 0px 5px var(--grey-color);
  outline: none;
}

.game-board > [data-cell-state='flagged']::after {
  content: '\f024';
  font-family: FontAwesome;
  color: var(--alert-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black-color-50);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Utility Classes */
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.cell-color-1 {
  color: var(--color-1);
}
.cell-color-2 {
  color: var(--color-2);
}
.cell-color-3 {
  color: var(--color-3);
}
.cell-color-4 {
  color: var(--color-4);
}
.cell-color-5 {
  color: var(--color-5);
}
.cell-color-6 {
  color: var(--color-6);
}
.cell-color-7 {
  color: var(--color-7);
}
.cell-color-8 {
  color: var(--color-8);
}

.hidden {
  display: none;
}
