/* Default styling is set for Large Desktop */

:root {
  /* Colors */
  --main-bg-color: #2b2d42;
  --white-color: #edf2f4;
  --white-color-10: rgba(237, 242, 244, 0.1);
  --white-color-50: rgba(165, 161, 152, 0.5);
  --black-color: rgb(17, 17, 17);
  --black-color-50: rgba(17, 17, 17, 0.5);
  --grey-color: #c1c1c1;
  --success-color: #42b3b1;
  --alert-color: #f7b32b;
  --alert-color-50: rgba(247, 179, 43, 0.5);
  --danger-color: #d90429;
  --danger-color-50: rgba(223, 17, 34, 0.8);
  --selected-color: #ecece3;
  --bomb-color: rgba(223, 127, 135, 0.9);

  /* Font */
  --font-main: 'Ubuntu', sans-serif;
  --font-game: 'Press Start 2P', cursive;

  /* Board */
  --rows: 8;
  --cols: 8;
  --cell-width: 40px;
  --cell-height: 40px;
  --border-width: 0.2rem;
  --rotate: 0;
  --rotate-number: 0;
  --expert-top: 0;

  --difficulty-font-size: 0.8rem;

  /* Cell Numbers */
  --color-1: green;
  --color-2: blue;
  --color-3: red;
  --color-4: purple;
  --color-5: orange;
  --color-6: darkCyan;
  --color-7: brown;
  --color-8: black;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 3px solid var(--danger-color-50);
}

/*
Used a css reset by:
https://piccalil.li/blog/a-modern-css-reset/
*/

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--font-main);
}

/* Typography */
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection,
ul::selection,
li::selection,
span::selection {
  /* background: #fff; */
  color: var(--danger-color-50);
}

/* Main */

.game {
}

.game__layer {
}

.main--menu {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  align-items: center;
}

.menu__header {
  color: var(--alert-color);
  padding-bottom: 2rem;
}

.menu__header h1 {
  font-size: 4rem;
}

.menu__header .bomb-emoji {
  position: relative;
  font-size: 3rem;
  top: 85px;
  left: 412px;
}

/* MainMenu Buttons */
.btn-group {
  width: 700px;
  height: 250px;
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    'play leaderboard leaderboard'
    'rules leaderboard leaderboard';
}
.play--btn {
  grid-area: play;
}
.rules--btn {
  grid-area: rules;
}
.leaderboard--btn {
  grid-area: leaderboard;
}

.menu__btn {
  border: 3px solid var(--black-color);
  border-radius: 1rem;
  background-color: var(--alert-color);
  color: var(--black-color);
  cursor: pointer;
  font-size: 3rem;
  transition: all 0.2s ease-in;
}

.menu__btn:hover {
  color: var(--danger-color-50);
  border-color: var(--danger-color-50);
  background-color: var(--white-color-10);
}

.menu__btn:focus {
  border: none;
}

.menu__btn:nth-child(3) {
  font-size: 5rem;
}

/* Board */
.game-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-board {
  display: grid;
  grid-template-rows: repeat(var(--rows), var(--cell-height));
  grid-template-columns: repeat(var(--cols), var(--cell-width));
}

.cell {
  cursor: pointer;
  width: var(--cell-width);
  height: var(--cell-height);
  border: 1px solid var(--black-color-50);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;

  /* prevent cell selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* End Game Modal */
.endgame-modal {
  opacity: 0;
  height: calc(var(--rows) * var(--cell-height));
  width: 200px;
  background-color: var(--white-color);
  border: 1px solid var(--black-color-50);
  transition: opacity 0.3s ease-in;
}

.end-game-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: var(--font-game);
  font-size: 0.7rem;
}

.endgame-modal__header {
  text-align: center;
  padding-bottom: 1rem;
  color: green;
}

.endgame-modal__info {
  border: 2px solid var(--black-color-50);
  padding: 0.2rem;
  font-size: 0.9rem;
  background-color: var(--alert-color-50);
}

.endgame-modal__info p {
  padding-bottom: 0.5rem;
}

/* Side Menu */
.game-sidemenu {
  display: flex;
  flex-direction: column;
  height: calc(var(--rows) * var(--cell-height));
  width: 150px;
  background-color: var(--white-color);
  border: 1px solid var(--black-color-50);
}

/* Game Info */
.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: var(--font-game);
}

.game-info__difficulty p {
  margin-top: 0.4rem;
  color: var(--danger-color-50);
  font-size: var(--difficulty-font-size);
  letter-spacing: -1px;
  text-transform: capitalize;
}

.game-info__header {
  display: flex;
  padding: 0.2rem 0.1rem;
  width: 100%;
  justify-content: space-between;
}

.time-left {
  padding: 0.4rem 0.2rem;
  display: flex;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.time-left > i {
  position: relative;
  font-size: 1rem;
  color: var(--danger-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black-color-50);
  margin-right: 0.3rem;
  top: -2px;
}

.flags-left {
  display: flex;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.flags-left > i {
  position: relative;
  top: -2px;
  font-size: 1.1rem;
  color: var(--alert-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black-color-50);
  margin-right: 0.3rem;
}

.revealed-count {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}

.revealed-count > span {
  padding: 0.4rem 0.2rem;
}

/* Game Info Buttons */
.game-buttons {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
  width: 100%;
}

.game-buttons__btn {
  border: none;
  padding: 0.5rem 0;
  margin-bottom: 2px;
  border-top: 2px solid var(--black-color);
  border-bottom: 2px solid var(--black-color);
  border-radius: none;
  background-color: var(--alert-color);
  color: var(--black-color);
  cursor: pointer;
  font-family: var(--font-game);
  font-size: 0.7rem;
  transition: all 0.2s ease-in;
}

.game-buttons__btn:hover {
  color: var(--danger-color-50);
  border-color: var(--danger-color-50);
  background-color: var(--white-color-10);
}

.game-buttons__btn:focus {
  outline: none;
}

/* Game Board */
.game-board > [data-cell-state='hidden'] {
  background-color: var(--white-color);
}

/* Revealed cell */
.game-board > [data-cell-state='revealed'] {
  background-color: var(--selected-color);
  -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
  -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
  box-shadow: inset 0px 0px 5px var(--grey-color);
  font-size: 2rem;
  outline: none;
}

/* Bomb  */
.game-board > [data-cell-state='bomb'] {
  background-color: var(--white-color);
  -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
  -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
  box-shadow: inset 0px 0px 5px var(--grey-color);
  outline: none;
}

.game-board > [data-cell-state='bomb']::after {
  content: '\f1e2';
  font-family: FontAwesome;
  color: var(--black-color);
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bomb exploded */
.game-board > [data-cell-state='bomb-exploded'] {
  background-color: var(--white-color);
  -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
  -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
  box-shadow: inset 0px 0px 5px var(--grey-color);
  outline: none;
}

.game-board > [data-cell-state='bomb-exploded']::after {
  content: '\f1e2';
  font-family: FontAwesome;
  color: var(--danger-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black-color-50);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bomb guessed/marked */
.game-board > [data-cell-state='bomb-marked'] {
  background-image: url(/img/bomb-crossed.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--selected-color);
  background-size: 4.5rem;
  -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
  -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
  box-shadow: inset 0px 0px 5px var(--grey-color);
  outline: none;
}

/* .game-board > [data-cell-state='bomb-marked']::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 2.5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: var(--danger-color);
}

.game-board > [data-cell-state='bomb-marked']::after {
  content: '';
  width: 40px;
  height: 2.5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: var(--danger-color);
} */

/* Flag  guessed */
.game-board > [data-cell-state='flagged'] {
  background-color: var(--white-color);
  -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
  -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
  box-shadow: inset 0px 0px 5px var(--grey-color);
  outline: none;
}

.game-board > [data-cell-state='flagged']::after {
  content: '\f024';
  font-family: FontAwesome;
  color: var(--alert-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black-color-50);
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Back to menu modal */
.to-menu__modal {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white-color);
  background-color: rgba(19, 1, 1, 0.8);
  z-index: 10;
  padding-top: 5rem;
}

.to-menu__modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 40%;
  padding: 2rem;
  text-align: center;
  background-color: var(--white-color-10);
  border: 3px solid var(--danger-color-50);
  border-radius: 1rem;
}

.to-menu__modal-content h2 {
  font-size: 1.5rem;
  color: var(--alert-color);
  margin-bottom: 1.5rem;
}

.to-menu__modal-btns {
  display: flex;
  gap: 1.5rem;
}

.to-menu__modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--danger-color-50);
  border-radius: 0.5rem;
  color: var(--danger-color-50);
  font-size: 1.2rem;
  background-color: var(--white-color);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.to-menu__modal-btn:hover {
  background-color: var(--danger-color-50);
  color: var(--white-color);
}

.to-menu__modal-btn--no:hover {
  background-color: var(--success-color);
  color: var(--white-color);
  border-color: var(--success-color);
}

/* Leader Board */
.game-leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--main-bg-color);
}

.scores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 8rem 3.5rem;
  color: var(--danger-color-50);
  border: 3px solid var(--danger-color-50);
  border-radius: 1rem;
  color: var(--danger-color-50);
  background-color: var(--white-color-10);
}

.scores-container h1 {
  text-decoration: underline;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--black-color-50);
}

.scores-group {
  text-align: center;
}

.scores-group > h3 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  color: var(--bomb-color);
}

.scores-group > ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.scores-group ul li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--alert-color);
}

.scores-group ul li:last-child {
  margin-bottom: 1.5rem;
}

.scores-group ul li span {
  /* display: block; */
  padding-right: 0.5rem;
  color: var(--black-color);
  text-decoration: underline;
}

.scores-menu__btn {
  width: 100%;
  border: 2px solid var(--black-color);
  border-radius: 0.3rem;
  background-color: var(--alert-color);
  color: var(--black-color);
  font-size: 1.2rem;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.scores-menu__btn:hover {
  background-color: var(--white-color-10);
  color: var(--danger-color);
  border-color: var(--danger-color);
}

/* Rules */
.game-rules {
  color: var(--grey-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--main-bg-color);
}

.rules-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem;
  background-color: var(--main-bg-color);
}

.rules-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--alert-color);
  text-align: center;
  text-decoration: underline;
}

/* Main image */
.rules-img-main {
  margin: 0 auto;
  height: 100%;
  margin-bottom: 1rem;
}

/* Expert lose scenario image */
.rules-img-lose {
  margin: 0 auto;
  height: 100%;
  margin-bottom: 1rem;
}

.rules--vertical-block {
  display: flex;
  justify-content: space-between;
}

.rules--vertical-block > p {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.vertical-block--inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}

.vertical-block--inner-code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

/* Beginner win scenario image */
.rules-img-win {
  margin: 0 auto;
  height: 50%;
  margin-bottom: 1rem;
}

/* Leader board image */
.rules-img-leaderboard {
  height: 40%;
  width: 40%;
  margin-bottom: 1rem;
}

/* Cheats image */
.rules-img-cheats {
  height: 40%;
  width: 40%;
  margin-bottom: 1rem;
}

.rules-group h3 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  color: var(--alert-color);
  text-align: center;
}

.rules-group p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.rules__btn {
  position: fixed;
  margin-left: 1rem;
  border: 2px solid var(--black-color);
  border-radius: 0.3rem;
  background-color: var(--success-color);
  color: var(--white-color);
  font-size: 1.2rem;
  padding: 0.3rem 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.rules__btn:hover {
  background-color: var(--white-color);
  color: var(--danger-color);
  border-color: var(--danger-color);
}

/* Utility Classes */
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.cell-color-1 {
  color: var(--color-1);
}
.cell-color-2 {
  color: var(--color-2);
}
.cell-color-3 {
  color: var(--color-3);
}
.cell-color-4 {
  color: var(--color-4);
}
.cell-color-5 {
  color: var(--color-5);
}
.cell-color-6 {
  color: var(--color-6);
}
.cell-color-7 {
  color: var(--color-7);
}
.cell-color-8 {
  color: var(--color-8);
}

.hidden {
  display: none;
}

.code {
  position: relative;
  font-family: var(--font-game);
  font-size: 1.2rem;
  top: 3px;
  border: 2px solid var(--danger-color-50);
  padding: 0.3rem 0.6rem;
  border-color: rgba(217, 4, 39, 0.5);
  line-height: 1.5rem;
}

/* Desktop breakpoint */
@media screen and (max-width: 1280px) {
  .main--menu {
    padding-top: 5%;
  }

  .menu__header {
    padding-bottom: 1rem;
  }

  .menu__header h1 {
    font-size: 3rem;
  }

  .menu__header .bomb-emoji {
    font-size: 2rem;
    top: 60px;
    left: 311px;
  }

  /* MainMenu Buttons */
  .btn-group {
    width: 500px;
    height: 180px;
    gap: 10px;
  }

  .menu__btn {
    font-size: 2.2rem;
  }

  .menu__btn:nth-child(3) {
    font-size: 4rem;
  }

  /* Board */

  .game-screen {
    --cell-width: 29px;
    --cell-height: 29px;
  }

  .game-board > [data-cell-state='bomb']::after {
    font-size: 1.5rem;
  }

  .game-board > [data-cell-state='bomb-exploded']::after {
    font-size: 1.5rem;
  }

  /* Bomb guessed/marked */
  .game-board > [data-cell-state='bomb-marked'] {
    background-size: 1.4rem;
  }

  .game-board > [data-cell-state='bomb-marked']::before {
    width: 29px;
  }

  .game-board > [data-cell-state='bomb-marked']::after {
    width: 29px;
  }

  .game-board > [data-cell-state='flagged']::after {
    font-size: 1.4rem;
  }

  .cell {
    font-size: 1.5rem;
  }

  .time-left {
    padding: 0.4rem 0.2rem;
    font-size: 1rem;
  }

  .time-left > i {
    font-size: 1rem;
    top: -1px;
  }

  .flags-left {
    font-size: 1rem;
  }

  .flags-left > i {
    top: -1px;
    font-size: 1rem;
  }

  .revealed-count {
    margin-top: -0.5rem;
    font-size: 0.9rem;
  }

  .game-buttons__btn {
    padding: 0.4rem 0;
    margin-bottom: 1px;
    font-size: 0.6rem;
  }

  /* Back to menu modal */
  .to-menu__modal {
    padding-top: 5rem;
  }

  .to-menu__modal-content {
    width: 40%;
    height: 50%;
    padding: 2rem;
  }

  .to-menu__modal-content h2 {
    font-size: 1.3rem;
    color: var(--alert-color);
    margin-bottom: 1rem;
  }

  .to-menu__modal-btns {
    gap: 1.5rem;
  }

  .to-menu__modal-btn {
    width: 7rem;
    padding: 0.2rem 0;
    border: 2px solid var(--danger-color-50);
    border-radius: 0.5rem;
    color: var(--danger-color-50);
    font-size: 1.2rem;
    background-color: var(--white-color);
    cursor: pointer;
    transition: all 0.2s ease-in;
  }

  .to-menu__modal-btn:hover {
    background-color: var(--danger-color-50);
    color: var(--white-color);
  }

  .to-menu__modal-btn--no:hover {
    background-color: var(--success-color);
    color: var(--white-color);
    border-color: var(--success-color);
  }

  /* Leader Board */

  .scores-container {
    padding: 1.5rem 6rem 3rem;
  }

  .scores-container h1 {
    font-size: 2rem;
  }

  .scores-group > h3 {
    font-size: 1.2rem;
  }

  .scores-group ul li {
    margin-bottom: 0.2rem;
    font-size: 1rem;
    color: var(--alert-color);
  }

  .scores-group ul li:last-child {
    margin-bottom: 0.6rem;
  }

  .scores-group ul li span {
    padding-right: 0.5rem;
  }

  .scores-menu__btn {
    font-size: 1rem;
    padding: 0.3rem 0;
    margin-top: 0.6rem;
  }
}

/* Mobile breakpoint */

@media screen and (max-width: 640px) {
  .main--menu {
    padding-top: 10%;
  }

  .menu__header {
    padding-bottom: 2rem;
  }

  .menu__header h1 {
    font-size: 2.3rem;
  }

  .menu__header h1 span {
    display: none;
  }

  .menu__header .bomb-emoji {
    position: relative;
    font-size: 1.7rem;
    top: 49px;
    left: 22px;
  }

  /* MainMenu Buttons */
  .btn-group {
    width: 200px;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    grid-template-areas: 'play' 'rules' 'leaderboard';
  }

  .menu__btn {
    font-size: 2.2rem;
    padding: 1.5rem 1rem;
  }

  .menu__btn:nth-child(3) {
    font-size: 4rem;
  }

  /* Board */
  .game-screen {
    flex-direction: column;
    align-items: center;
    --cell-width: 21px;
    --cell-height: 21px;
  }

  /* .game-screen :nth-child(1) {
    order: 3;
  }

  .game-screen :nth-child(2) {
    order: 2;
  }

  .game-screen :nth-child(3) {
    order: 1;
  } */

  .game-board {
    position: relative;
    transform: rotate(var(--rotate));
    top: var(--expert-top);
  }

  .cell {
    transform: rotate(var(--rotate-number));
  }

  /* Game Board */
  .game-board > [data-cell-state='hidden'] {
    background-color: var(--white-color);
  }

  /* Revealed cell */
  .game-board > [data-cell-state='revealed'] {
    background-color: var(--selected-color);
    -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
    -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
    box-shadow: inset 0px 0px 5px var(--grey-color);
    font-size: 1.4rem;
    outline: none;
  }

  /* Bomb  */
  .game-board > [data-cell-state='bomb'] {
    background-color: var(--white-color);
    -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
    -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
    box-shadow: inset 0px 0px 5px var(--grey-color);
    outline: none;
  }

  .game-board > [data-cell-state='bomb']::after {
    content: '\f1e2';
    font-family: FontAwesome;
    color: var(--black-color);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Bomb exploded */
  .game-board > [data-cell-state='bomb-exploded'] {
    background-color: var(--white-color);
    -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
    -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
    box-shadow: inset 0px 0px 5px var(--grey-color);
    outline: none;
  }

  .game-board > [data-cell-state='bomb-exploded']::after {
    content: '\f1e2';
    font-family: FontAwesome;
    color: var(--danger-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--black-color-50);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Bomb guessed/marked */
  .game-board > [data-cell-state='bomb-marked'] {
    background-image: url('/img/bomb-solid.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--selected-color);
    background-size: 1.3rem;
    -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
    -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
    box-shadow: inset 0px 0px 5px var(--grey-color);
    outline: none;
  }

  /* .game-board > [data-cell-state='bomb-marked']::after {
    content: ('img/bomb-crossed.svg');
    width: 18px;
    height: 18px;
  } */

  .game-board > [data-cell-state='bomb-marked']::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 2.5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: var(--danger-color);
  }

  .game-board > [data-cell-state='bomb-marked']::after {
    content: '';
    width: 30px;
    height: 2.5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: var(--danger-color);
  }

  /* Flag  guessed */
  .game-board > [data-cell-state='flagged'] {
    background-color: var(--white-color);
    -webkit-box-shadow: inset 0px 0px 5px var(--grey-color);
    -moz-box-shadow: inset 0px 0px 5px var(--grey-color);
    box-shadow: inset 0px 0px 5px var(--grey-color);
    outline: none;
  }

  .game-board > [data-cell-state='flagged']::after {
    content: '\f024';
    font-family: FontAwesome;
    color: var(--alert-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--black-color-50);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* End Game Modal */
  .endgame-modal {
    opacity: 0;
    padding-bottom: 0.8rem;
    height: auto;
    width: calc(var(--cols) * var(--cell-width));
    background-color: var(--white-color);
    border: 1px solid var(--black-color-50);
    z-index: 100;
    transition: opacity 0.3s ease-in;
  }

  .end-game-modal-content {
    display: block;
    padding-top: 0.5rem;
    font-family: var(--font-game);
    font-size: 0.5rem;
    pointer-events: none;
  }

  .endgame-modal__header {
    text-align: center;
    color: green;
    padding-bottom: 0.5rem;
  }

  .endgame-modal__info {
    border: 2px solid var(--black-color-50);
    padding: 0.2rem;
    font-size: 0.7rem;
    background-color: var(--alert-color-50);
  }

  .endgame-modal__info p {
    padding-bottom: 0.5rem;
  }

  /* Side Menu */
  .game-sidemenu {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: calc(var(--cols) * var(--cell-width));
    top: var(--expert-top);
    background-color: var(--white-color);
    border: 1px solid var(--black-color-50);
  }

  /* Game Info */
  .game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: var(--font-game);
  }

  .game-info__difficulty p {
    margin-top: 0.6rem;
    color: var(--danger-color-50);
    font-size: var(--difficulty-font-size);
    letter-spacing: -1px;
    text-transform: capitalize;
    font-size: 0.7rem;
  }

  .game-info__header {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-around;
  }

  .time-left {
    padding: 0.4rem 0.2rem;
    display: flex;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
  }

  .time-left > i {
    position: relative;
    font-size: 0.8rem;
    color: var(--danger-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--black-color-50);
    margin-right: 0.3rem;
    top: -2px;
  }

  .flags-left {
    display: flex;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
  }

  .flags-left > i {
    position: relative;
    top: -2px;
    font-size: 0.8rem;
    color: var(--alert-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--black-color-50);
    margin-right: 0.3rem;
  }

  .revealed-count {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
    margin-top: 0;
  }

  .revealed-count > span {
    position: relative;
    top: -0.4rem;
    padding: 0.4rem 0.2rem;
  }

  /* Game Info Buttons */
  .game-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%;
    width: 100%;
  }

  .game-buttons__btn {
    border: none;
    padding: 0.5rem 0;
    margin-bottom: 1px;
    border-top: 2px solid var(--black-color);
    border-bottom: 2px solid var(--black-color);
    border-radius: none;
    background-color: var(--alert-color);
    color: var(--black-color);
    cursor: pointer;
    font-family: var(--font-game);
    font-size: 0.5rem;
    transition: all 0.2s ease-in;
  }

  .game-buttons__btn:hover {
    color: var(--danger-color-50);
    border-color: var(--danger-color-50);
    background-color: var(--white-color-10);
  }

  .game-buttons__btn:focus {
    outline: none;
  }

  /* Back to menu modal */
  .to-menu__modal {
    padding-top: 8rem;
  }

  .to-menu__modal-content {
    width: 70%;
    height: 40%;
    padding: 0 2rem;
    background-color: var(--white-color-10);
    border: 3px solid var(--danger-color-50);
  }

  .to-menu__modal-content h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .to-menu__modal-btns {
    gap: 0.5rem;
  }

  .to-menu__modal-btn {
    width: 6rem;
    padding: 0.5rem;
    font-size: 1rem;
  }

  /* Leader Board */
  .scores-container {
    padding: 1rem 2.5rem 2.5rem;
    border-width: 2px;
  }

  .scores-container h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .scores-group > h3 {
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
  }

  .scores-group ul li {
    margin-bottom: 0.2rem;
    font-size: 1rem;
  }

  .scores-group ul li:last-child {
    margin-bottom: 1rem;
  }

  .scores-group ul li span {
    padding-right: 0.3rem;
  }

  .scores-menu__btn {
    margin-top: 0;
    font-size: 1rem;
    padding: 0.3rem 0;
  }

  /* Rules */
  .game-rules {
    padding: 1rem;
  }

  .rules-container {
    width: 90%;
    padding: 0;
  }

  .rules-container h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  /* Main image */
  .rules-img-main {
    margin: 0 auto;
    height: 100%;
    margin-bottom: 1rem;
  }

  /* Expert lose scenario image */
  .rules-img-lose {
    margin: 0 auto;
    height: 100%;
    margin-bottom: 1rem;
  }

  .rules--vertical-block {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }

  .rules--vertical-block > p {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .vertical-block--inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
  }

  .vertical-block--inner-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  /* Beginner win scenario image */
  .rules-img-win {
    margin: 0 auto;
    height: 50%;
    margin-bottom: 1rem;
  }

  /* Leader board image */
  .rules-img-leaderboard {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  /* Cheats image */
  .rules-img-cheats {
    height: 60%;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }

  .rules-group h3 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  .rules-group p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .rules__btn {
    margin-left: 0;
    font-size: 1.1rem;
    padding: 0.3rem 1.2rem;
  }

  /* Utility Classes */
  .code {
    font-size: 1rem;
    top: 3px;
    padding: 0.3rem 0.6rem;
    line-height: 0.1rem;
  }
}
